%body.login-page
  .login-box
    .login-logo
      = link_to root_path do
        %b Nommox
        = image_tag('Icon-App-20x20@3x.png', class: 'img')

    .login-box-body
      %p.login-box-msg Ingresa para iniciar tu sesión
      = form_tag create_session_url, method: :post do |form|
        .form-group.has-feedback
          = text_field_tag :email, nil, { class: 'form-control', placeholder: 'Email'}
          %span.glyphicon.glyphicon-envelope.form-control-feedback
        .form-group.has-feedback
          = password_field_tag :password, nil, { class: 'form-control', placeholder: 'password'}
          %span.glyphicon.glyphicon-lock.form-control-feedback
        .row
          .col-xs-8
            .checkbox.icheck
              %label
                .icheckbox_square-blue{"aria-checked" => "false", "aria-disabled" => "false", :style => "position: relative;"}
                  %input{:style => "position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;", :type => "checkbox"}/
                  %ins.iCheck-helper{:style => "position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"}
                -# Remember Me
          / /.col
          .col-xs-4
            %button.btn.btn-primary.btn-block.btn-flat{:type => "submit", style: 'padding: 5px 15px 5px 5px'} Iniciar Sesión
