- @cases.each_with_index do |c, index|
  %tr
    %td= index + 1
    %td= c.user.name
    %td= c&.case_causes&.first&.name
    -# %td= case.country.name
    - if policy(:case).show?
      %td
        = link_to case_path(c) do
          %button.btn.btn-primary.btn-sm Ver
    -# - if policy(:case).edit?
    -#   %td
    -#     = link_to edit_case_path(c) do
    -#       %button.btn.btn-primary.btn-sm Editar
    - if policy(:case).destroy?
      %td
        = link_to case_path(c), method: :delete, data: { confirm: '¿Estás seguro?' } do
          %button.btn.btn-danger.btn-sm Eliminar
