%section.content-header
  %h1
    = link_to :back do
      %button.btn.btn-primary
        Atrás
    - if @case.asesor.nil? && current_user.has_role?(:asesor)
      = link_to case_add_asesor_path(@case, asesor_id: current_user.id), method: :post do
        %button.btn.btn-primary
          Tomar Caso
  %ol.breadcrumb
    %li
      %a{:href => "#"}
        %i.fa.fa-dashboard
        Casos
    %li.active Detalle

.container-fluid.mt-10
  .row

    .col-lg-12
      .nav-tabs-custom
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab_0"} Datos del caso
          %li
            %a{"data-toggle" => "tab", :href => "#tab_1"} Usuario
          %li
            %a{"data-toggle" => "tab", :href => "#tab_2"} Causas del caso
          %li
            %a{"data-toggle" => "tab", :href => "#tab_3"} Vuelos
          %li
            %a{"data-toggle" => "tab", :href => "#tab_5"} Inconvenientes
          %li
            %a{"data-toggle" => "tab", :href => "#tab_6"} Acompañantes
          %li
            %a{"data-toggle" => "tab", :href => "#tab_7"} Pruebas
          %li
            %a{"data-toggle" => "tab", :href => "#tab_8"} Cambiar estado
          %li.comments-tab
            %a{"data-toggle" => "tab", :href => "#tab_9"} Comentarios
          - if current_user.has_role?(:super_admin) || current_user.has_role?(:admin)
            %li.comments-tab
              %a{"data-toggle" => "tab", :href => "#tab_10"} Añadir Asesor

        .tab-content
          #tab_0.tab-pane.active
            .row
              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            Asesor
                          %th
                            Horas de retraso
                          %th
                            Estado
                          %th
                            Fecha de Creación
                          %th
                            Última actualización
                      %tbody
                        %tr
                          %td= @case.asesor.nil? ? 'Sin Asignar' : @case.asesor.id.eql?(current_user.id) ? "#{@case&.asesor.name} (Tú)" : @case&.asesor.name
                          %td= @case.hours_late
                          %td.status_name= @case.status&.name || 'Sin Asignar'
                          %td= @case.created_at.strftime('%d/%m/%y %H:%M %p')
                          %td= @case.updated_at.strftime('%d/%m/%y %H:%M %p')

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿CUÁL FUE EL MOTIVO DEL RETRASO DEL VUELO INDICADO POR LA AEROLÍNEA?
                      %tbody
                        %tr
                          %td= @case.delayReason.blank? ? 'No Aplica' : @case.delayReason

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿CUÁNDO FUISTE INFORMADO POR PARTE DE LA AEROLÍNEA QUE EL VUELO SE HABÍA CANCELADO?
                      %tbody
                        %tr
                          %td= @case.cancelTime.blank? ? 'No Aplica' : @case.cancelTime

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿ACORDASTE RENUNCIAR A TU RESERVA A CAMBIO DE UN VUELO POSTERIOR Y OTROS BENEFICIOS DE LA AEROLÍNEA?
                      %tbody
                        %tr
                          %td= @case.overbookingBenefit.blank? ? 'No Aplica' : @case.overbookingBenefit

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿QUÉ PROBLEMA HAS TENIDO CON TU EQUIPAJE?
                      %tbody
                        %tr
                          %td= @case.baggageProblem.blank? ? 'No Aplica' : @case.baggageProblem

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿DILIGENCIASTE EL FORMULARIO DE RECLAMACIÓN (PARTE DE IRREGULARIDAD DE EQUIPAJE -PIR) EN LA AEROLÍNEA QUE VIAJABAS Y EXTRAVIÓ TU MALETA?
                      %tbody
                        %tr
                          %td= @case.claimForm.blank? ? 'No Aplica' : @case.claimForm

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿TIENES FACTURAS QUE DEMUESTREN EL VALOR DEL ARREGLO O SUSTITUCIÓN DEL EQUIPO DAÑADO?
                      %tbody
                        %tr
                          %td= @case.bills.blank? ? 'No Aplica' : @case.bills

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿TIENES FACTURAS DE LOS GASTOS QUE TUVISTE POR NO TENER TU EQUIPAJE DURANTE ESTOS DÍAS?
                      %tbody
                        %tr
                          %td= @case.baggageBills.blank? ? 'No Aplica' : @case.baggageBills

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿EN QUÉ FECHA TE DEVOLVIERON EL EQUIPAJE?
                      %tbody
                        %tr
                          %td= @case.baggageDate.blank? ? 'No Aplica' : @case.baggageDate

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿CONSIDERAS QUE EL VALOR DE TUS PERTENENCIAS ES SUPERIOR A LOS $1.552 USD?
                      %tbody
                        %tr
                          %td= @case.belongingsValue.blank? ? 'No Aplica' : @case.belongingsValue

              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            ¿HICISTE UNA DECLARACIÓN ESPECIAL DE VALOR (UN INVENTARIO DEL CONTENIDO DE NUESTRA MALETA)?
                      %tbody
                        %tr
                          %td= @case.valueStatement.blank? ? 'No Aplica' : @case.valueStatement

          #tab_1.tab-pane
            .row
              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            Email
                          %th
                            Nombre
                          %th
                            Teléfono
                          %th
                            País
                          %th
                            Departamento o Provincia
                          %th
                            Ciudad
                      %tbody
                        %tr
                          %td= @case.user.email
                          %td= @case.user.name
                          %td= @case.user.phone           || 'Sin asignar'
                          %td= @case.user&.country&.name  || 'Sin asignar'
                          %td= @case.user&.city&.name     || 'Sin asignar'
                          %td= @case.user&.province&.name || 'Sin asignar'

          #tab_2.tab-pane
            .row
              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th
                            Nombre
                      %tbody
                      - @case.case_causes.each do |case_cause|
                        %tr
                          %td
                            = case_cause.name

          #tab_3.tab-pane
            .row
              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th Nombre Apto. de Salida
                          %th Nombre Apto. de Llegada
                          %th Fecha
                          %th Hora
                          %th Aerolínea
                          %th Número de Vuelo
                          %th
                          %th
                      %tbody
                        - @case.flights.each do |flight|
                          %tr
                            %td= flight.departure_airport_name
                            %td= flight.arrival_airport_name
                            %td= flight&.date&.strftime('%d-%m-%Y')
                            %td= flight&.hour
                            %td= flight.airline
                            %td= flight.flight_number

          #tab_5.tab-pane
            .row
              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th Conexión Perdida
                          %th Evento Perdido
                          %th Descripción del evento perdido
                          %th Prueba
                      %tbody
                        %tr
                          %td= @case&.inconvenience&.lost_connection? ? 'Sí' : 'No'
                          %td= @case&.inconvenience&.lost_event? ? 'Sí' : 'No'
                          %td= @case&.inconvenience&.description || 'No ha perdido ningún evento'
                          %td= image_tag(@case&.inconvenience&.image&.url || '' )

          #tab_6.tab-pane
            .row
              .col-lg-12
                .box.slice-box
                  .box-body.no-padding.table-responsive
                    %table.table
                      %thead
                        %tr
                          %th Nombres
                          %th Apellidos
                          %th Documento de Identificación
                          %th Pasaporte
                      %tbody
                        - @case&.companions&.each do |companion|
                          %tr
                            %td= companion.names
                            %td= companion.surnames
                            %td= image_tag(companion&.identification_document&.url || '')
                            %td= image_tag(companion&.passport&.url || '')

          #tab_7.tab-pane
            .nav-tabs-custom
              %ul.nav.nav-tabs
                %li.active
                  %a{"data-toggle" => "tab", :href => "#images"} Imágenes
                %li
                  %a{"data-toggle" => "tab", :href => "#documents"} Documentos
                %li
                  %a{"data-toggle" => "tab", :href => "#voices"} Audios
                %li
                  %a{"data-toggle" => "tab", :href => "#videos"} Vídeos

              .tab-content
                #images.tab-pane.active
                  - @case&.tests&.images&.each do |image|
                    %td= image_tag(image.url, style: 'width: 100%; heigth: 100%; object-fit: cover; margin-bottom: 20px; ')


                #documents.tab-pane
                  - @case&.tests&.documents&.each do |document|
                    %td= image_tag(document.url, style: 'width: 100%; heigth: 100%; object-fit: cover; margin-bottom: 20px; ')

                #voices.tab-pane
                  - @case&.tests&.voices&.each do |voice|
                    %audio{:controls => "", style: "width: 45%; margin.right: 40px"}
                      %source{:src => voice.url, :type => "audio/mpeg"}
                        Your browser does not support the audio element.

                #videos.tab-pane
                  - @case&.tests&.videos&.each do |video|
                    %video{:controls => "", :height => "300", :width => "500"}
                      %source{:src => video.url, :type => "video/mp4"}
                        Your browser does not support the video tag.

          #tab_8.tab-pane
            .alert.alert-success.alert-dismissible.hidden#alert
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
              %h4
                %i.icon.fa.fa-check
                Estado actualizado!


            .form-group
              - @case_statuses.each do |case_status|
                .toggle
                  %input{ type: "checkbox", id: case_status.id, name: 'case[case_status_id]', value: case_status.id, 'data-status-name': case_status.name, checked: @case&.status&.name.eql?(case_status.name) }
                  %label{ for: case_status.id }= case_status.name

          #tab_9.tab-pane
            .box.box-primary.direct-chat.direct-chat-primary
              .box-header.with-border
              .box-body
                .direct-chat-messages{ style: 'height: 350px' }
                  - @case&.comments&.each do |comment|
                    - if comment.user.id.eql?(current_user.id)
                      .direct-chat-msg.right
                        .direct-chat-info.clearfix
                          %span.direct-chat-name.pull-right= comment.user.name
                          %span.direct-chat-timestamp.pull-left= comment.created_at.strftime('%d/%m/%y %H:%M %p')
                        %img.direct-chat-img{:alt => "Message User Image", :src => "/assets/profile.jpg"}
                        .direct-chat-text
                          = comment.text
                    - else
                      .direct-chat-msg
                        .direct-chat-info.clearfix
                          %span.direct-chat-name.pull-left= comment.user.name
                          %span.direct-chat-timestamp.pull-right= comment.created_at.strftime('%d/%M/%y %H:%M %p')

                        %img.direct-chat-img{:alt => "Message User Image", :src => "/assets/profile.jpg"}/
                        .direct-chat-text
                          = comment.text
                  %span#end
              .box-footer
                .input-group
                  %input.form-control#comment{:name => "message", :placeholder => "Escribe un mensaje ...", :type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-primary.btn-flat.btn-send{ type: "button" } Enviar

          #tab_10.tab-pane
            .box.box-primary
              .box-header
              .box-body
                = simple_form_for @case, url: case_add_asesor_path(@case), method: :post do |f|
                  .form-group
                    = f.input :asesor_id, collection: User.asesors, label: 'Asesor', include_blank: 'Selecciona un asesor', input_html: { class: 'form-control' }
                  .form-group.pull-right
                    = f.submit 'GUARDAR', class: 'btn btn-primary'


:javascript
  $('.toggle').click(function() {
    $('#alert').addClass('hidden')

    var id          = $(this).find('input').val(),
        case_id     = #{@case.id},
        status_name = $(this).find('input').attr('data-status-name');

    $('input:checkbox').not('#'+id).removeAttr('checked');
    console.log(status_name)
    $('.status_name').html(status_name)

    data = { case_status_id: id }

    $.ajax({
      type: "POST",
      url: `/cases/${case_id}/status`,
      data: data,
      success: function(data) {
        console.log('success', data)
        $('#alert').removeClass('hidden')
      },
      error: function(data) {
        console.log('error', data)
      }
    });
  })

  function getDate(date) {
    var monthNames = [
      "Enero", "Febrero", "Marzo",
      "Abril", "Mayo", "Junio", "Julio",
      "Agosto", "Septiembre", "Octubre",
      "Noviembre", "Diciembre"
    ];

    var day = date.getDate();
    var monthIndex = date.getMonth();
    var year = date.getFullYear();

    return day + '/' +monthIndex + '/' + year;
  }

  function getTime(date) {
    return date.getHours() + ":" + date.getMinutes()
  }

  $('.btn-send').click(function() {
    var text = $('#comment').val(),
        case_id   = #{@case.id},
        now       = new Date(),
        date      = getDate(now),
        time      = getTime(now),
        user_name = "#{current_user.name}",
        user_id   = "#{current_user.id}",
        data      = { comment: text, user_id: user_id };


    var html = `<div class="direct-chat-msg right">
                  <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">${user_name}</span>
                    <span class="direct-chat-timestamp pull-left">${date} ${time}</span>
                  </div>
                  <img alt="Message User Image" class="direct-chat-img" src="/assets/profile.jpg"/>
                  <div class="direct-chat-text">
                    ${text}
                  </div>
                </div>`


    if (comment != '') {
      $.ajax({
        type: "POST",
        url: `/cases/${case_id}/add_comment`,
        data: data,
        success: function(data) {
          $('.direct-chat-messages').append(html)
          $('#comment').val('')
          document.getElementById('end').scrollIntoView(true)
        },
        error: function(data) {
          console.log('error', data)
        }
      });
    }
  });

  $(window).blur(function() {
    var audios = $('audio')
    var videos = $('video')

    audios.each(function(audio) {
      audios[audio].pause()
    })

    videos.each(function(video) {
      videos[video].pause()
    })

    return true;
  });
